
<div class="col">
    <h2>Aprender a tocar el piano</h2>
        <app-chat-messages [messages]="messages"></app-chat-messages>
    <div class="row fixed-bottom">
        <div class="input-group input-group-lg px-5">
            <input type="text" class="form-control" [(ngModel)]="inputMessage"aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="text-end">
            <div class="p-5">
                <button type="button" class="btn btn-success" (click)="sendMessage()">Enviar</button>
            </div>
        </div>
    </div>
</div>
