
<div class="col">
    <h2>Aprender a tocar el piano</h2>
    <p class="text-end px-3">
        <small>Fecha</small> </p>
    <div class="row">
        <p class="text-end px-3">pruebando alineacion</p>
    </div>
    <div class="row">
        <p class="text-star px-3">pruebando alineacion</p>
    </div>
    <div class="row fixed-bottom">
        <div class="input-group input-group-lg px-5">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="text-end">
            <div class="p-5">
                <button type="button" class="btn btn-success">Large button</button>
            </div>
        </div>
    </div>
</div>
