


<div class="media w-50 mb3" *ngFor="let msj of messages">
    <div class="media-body ml-3">
        <div class="bg-light rounded py2 px-3 mb-2">
            <p class="text-small mb-0 text-muted">
                {{msj.messages}} y
            </p>
        </div>
    </div>
</div>

<!-- <div class="media w-50 ml-auto mb3">
    <div class="media-body">
        <div class="bg-primary rounded py2 px-3 mb-2">
            <p class="text-small mb-0 text-muted">
                probando div2324
            </p>
        </div>
    </div>
</div> -->