<div class="row justify-content-center mt-5">
    <div class="col-6">
    <form [formGroup]="formLogin" (ngSubmit)="validateUser($event)">
        <div class="form-group row">
            <label for="emailLogin" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userLogin" formControlName="nameLogin">
            </div>
        </div>
        <div class="form-group row">
            <label for="passwordLogin" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordLogin" formControlName="passwordLogin">
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>

    </div>
</div>