<div class="conteiner">
    <div class="row pt-2">
        <h1>Aprende a tocar el piano</h1>
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQctIrM0dpfbuk8bMnYiqDnX974EA57TJr2UQ&usqp=CAU" alt="">
        </div>
        <div class="col">
            <p class="text-justify">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt atque, omnis cum ipsum, fugiat iure doloremque dolorum facilis neque optio ipsam adipisci officia magnam nulla excepturi non accusamus fugit iusto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt atque, omnis cum ipsum, fugiat iure doloremque dolorum facilis neque optio ipsam adipisci officia magnam nulla excepturi non accusamus fugit iusto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt atque, omnis cum ipsum, fugiat iure doloremque dolorum facilis neque optio ipsam adipisci officia magnam nulla excepturi non accusamus fugit iusto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt atque, omnis cum ipsum, fugiat iure doloremque dolorum
                facilis neque optio ipsam adipisci officia magnam nulla excepturi non accusamus fugit iusto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt atque, omnis cum ipsum, fugiat iure doloremque dolorum
                facilis neque optio ipsam adipisci officia magnam nulla excepturi non accusamus fugit iusto.
            </p>
            <button type="button" class="btn btn-lg btn-secondary" routerLink="/chat" >Chat</button>
        </div>
    </div>
</div>